{% extends "layout.njk" %}

{% block styles %}
<link href="{{ '/assets/admin-audit.css' | appendVersion }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-xxl mt-2" id="app">
  <div class="table-responsive-md">
    <table class="table table-striped" id="audit" ref="audit">
      <thead>
        <tr>
          <th scope="col" class="{{ 'is-sorted' if sort === "created" }}">
            <a href="{{ sortLinks.created }}" class="text-decoration-none {{ order }} {{ "link-dark" if sort === "created" else "text-secondary" }}">
              Created
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th scope="col" class="{{ 'is-sorted' if sort === "email" }}">
            <a href="{{ sortLinks.email }}" class="text-decoration-none {{ order }} {{ "link-dark" if sort === "email" else "text-secondary" }}">
              Actor
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th scope="col" class="{{ 'is-sorted' if sort === "type" }}">
            <a href="{{ sortLinks.type }}" class="text-decoration-none {{ order }} {{ "link-dark" if sort === "type" else "text-secondary" }}">
              Type
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th class="text-secondary">
            Context
          </th>
        </tr>
      </thead>
      <tbody>
        {% if results.length === 0 %}
        <tr>
          <td colspan="100%">No results</td>
        </tr>
        {% endif %}
        {% for result in results %}
        <tr>
          <td>
            <time
              datetime="{{ result.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}"
              title="{{ result.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}"
            >
              {{ result.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}
            </time>
          </td>
          <td>{{ result.user.email }}</td>
          <td>{{ result.type }}</td>
          <td>
            {% if result.type === 'user-activity' %}
              {{ result.data.pages.length }} page views

            {% elseif result.type === 'user-edit' %}
              {{ result.data.email }}
              {% if result.data.delta %}
              - Edit: {{ result.data.delta | userAuditDelta }}
              {% else %}
              - Create
              {% endif %}

            {% elseif result.type === 'import-commit' %}
              {{ result.data.source.name }}
              <span class="badge bg-primary">
              {{ result.data.type }}
              </span>
              <span class="badge bg-success">
                {{ result.data.count | formatNumber }} {{ "record" if result.data.count === 1 else "records" }}
              </span>

            {% elseif result.type === 'import-create' %}
              {{ result.data.source.name }}
              <span class="badge bg-primary">
              {{ result.data.type }}
              </span>

            {% elseif result.type === 'import-delete' %}
              {{ result.data.source.name }}
              <span class="badge bg-primary">
              {{ result.data.type }}
              </span>


            {% elseif result.type === 'export' %}
              {{ result.data.type }} - {{ result.data.name }}

            {% elseif result.type === 'submission-create' %}
              {{ result.data.source.name }}
              <span class="badge bg-primary">
              {{ result.data.type }}
              </span>

            {% elseif result.type === 'submission-edit' %}
              {% if result.data.view %}
              {{ result.data.view.name }}
              {% else %}
              {{ result.data.source.name }}
              {% endif %}

              <span class="badge bg-primary">
              {{ result.data.type }}
              </span>
              <span class="badge bg-success">
              {{ result.data.count | formatNumber }} {{ "record" if result.data.count === 1 else "records" }}
              </span>

            {% elseif result.type === 'source-edit' %}
              {{ result.data.name }}

            {% elseif result.type === 'source-create' %}
              {{ result.data.name }}

            {% elseif result.type === 'view-edit' %}
              {{ result.data.name }}

            {% elseif result.type === 'view-create' %}
              {{ result.data.name }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

 {% if results.length !== 0 %}
  <nav>
    <div class="px-2 pb-2">
      Showing {{ results.length }} of {{ pagination.totalItems | formatNumber }} sources.
    </div>

    <ul class="pagination pagination-sm p-2">
      <li class="page-item {% if 1 === pagination.currentPage %} disabled {% endif %}">
        <a class="page-link" href="{{ pagePathWQuery }}&limit={{ pagination.pageSize }}"
            {% if 1 === pagination.currentPage %} tabindex="-1" aria-disabled="true" {% endif %}>First</a>
      </li>
      {% for page in pagination.pages %}
      <li class="page-item {% if page === pagination.currentPage %} active {% endif %}">
        {% if page !== pagination.currentPage %}
          <a class="page-link"
            href="{{ pagePathWQuery }}&offset={{ (page - 1) * pagination.pageSize }}&limit={{ pagination.pageSize }}">{{ page }}</a>
        {% else %}
          <span class="page-link">{{ page }}</span>
        {% endif %}
        </li>
      {% endfor %}
      <li class="page-item {% if pagination.totalPages === pagination.currentPage %} disabled {% endif %}">
        <a class="page-link"
            href="{{ pagePathWQuery }}&offset={{ (pagination.totalPages - 1) * pagination.pageSize }}&limit={{ pagination.pageSize }}"
            {% if pagination.totalPages === pagination.currentPage %} tabindex="-1" aria-disabled="true" {% endif %}>Last</a>
      </li>
      <li class="ms-2">
        <div class="btn-group dropup">
          <button type="button"
              id="itemsPerPageBtn"
              class="btn btn-secondary dropdown-toggle btn-sm"
              data-bs-toggle="dropdown"
              aria-expanded="false">
            Show rows: {{ pagination.pageSize | formatNumber }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item {% if 50 == pagination.pageSize %} active {% endif %}"
              href="{{ pagePathWQuery }}&limit=50">50</a></li>
            <li><a class="dropdown-item {% if 100 == pagination.pageSize %} active {% endif %}"
              href="{{ pagePathWQuery }}&limit=100">100</a></li>
            <li><a class="dropdown-item {% if 500 == pagination.pageSize %} active {% endif %}"
              href="{{ pagePathWQuery }}&limit=500">500</a></li>
            <li><a class="dropdown-item {% if 1000 == pagination.pageSize %} active {% endif %}"
              href="{{ pagePathWQuery }}&limit=1000">1,000</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}

