{% extends "layout.njk" %}

{% block styles %}
<link href="{{ '/assets/admin-users.css' | appendVersion }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
<script src="{{'/assets/admin-users.js' | appendVersion }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="container-xxl mt-2" id="app" v-cloak>
  <div v-if="error" class="alert alert-danger" role="alert">${error}</div>

  <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
    <div>
      <button @click="edit()" id="add-user-btn" class="btn btn-sm btn-secondary">Add User</button>
      <a href="/admin/audit" class="btn btn-link ms-2">Audit Log</a>
    </div>
    <div class="d-flex align-items-center">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="included-deleted-switch" {{ "checked" if includeDeleted }} />
        <label class="form-check-label" for="included-deleted-switch">Include archived users</label>
      </div>
    </div>
  </div>

  <div class="table-responsive-md">
    <table class="table table-striped" id="users" ref="users">
      <thead>
        <tr>
          <th scope="col" class="{{ 'is-sorted' if sort === "email" }}">
            <a href="{{ sortLinks.email }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "email" else "link-secondary" }}">
              Email
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th class="{{ 'is-sorted' if sort === "name" }}">
            <a href="{{ sortLinks.name }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "name" else "link-secondary" }}">
              Name
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th class="{{ 'is-sorted' if sort === "admin" }}">
            <a href="{{ sortLinks.admin }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "admin" else "link-secondary" }}">
              Administrator
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th class="{{ 'is-sorted' if sort === "modified" }}">
            <a href="{{ sortLinks.modified }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "modified" else "link-secondary" }}">
              Last Modified
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th class="{{ 'is-sorted' if sort === "lastActivity" }}">
            <a href="{{ sortLinks.lastActivity }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "lastActivity" else "link-secondary" }}">
              Last Activity
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th scope="col"><span class="text-secondary">Source Access</span></th>
          <th scope="col"><span class="text-secondary">View Access</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% if users.length === 0 %}
        <tr>
          <td colspan="100%">No users</td>
        </tr>
        {% endif %} {% for user in users %} {% include "admin/_user.njk" %} {% endfor %}
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="edit-modal"
    tabindex="-1"
    aria-labelledby="edit-modal-title"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-modal-title">Edit User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div v-if="editingUser" class="modal-body">
          <div class="alert alert-warning d-none" role="alert"></div>
          <input id="edit-user-id" type="hidden" value="" />
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="mb-3 form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="edit-user-email"
                  required
                  placeholder="user@domain.com"
                  name="email"
                  autofocus
                  v-model.trim="editingUser.email"
                />
                <label for="edit-user-email">Email address</label>
              </div>
              <div class="mb-3 form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="edit-user-name"
                  required
                  placeholder="First Last"
                  name="name"
                  maxlength="100"
                  v-model.trim="editingUser.name"
                />
                <label for="edit-user-name">Name</label>
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="edit-user-admin"
                  value="true"
                  name="admin"
                  v-model="editingUser.admin"
                />
                <label class="form-check-label" for="edit-user-admin">Site Administrator</label>
                <div class="form-text">
                  <i class="bi bi-info-circle"></i>
                  Administrators can manage users, sources, and views.
                </div>
              </div>

              <div class="mb-3 form-check" v-if="editingUser._id">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="edit-user-deleted"
                  value="true"
                  name="deleted"
                  v-model="editingUser.deleted"
                />
                <label class="form-check-label" for="edit-user-deleted">Archived?</label>
                <div class="form-text">
                  <i class="bi bi-info-circle"></i>
                  Archived users can not login to the system.
                </div>
              </div>
            </div>
            <div class="col col-12 col-lg-8">
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <button
                    class="nav-link"
                    :class="{active: editingUserTab === 'sources'}"
                    @click="editingUserTab = 'sources'"
                  >
                    Sources <span>(${ editingUserSourceAccess.length })</span>
                  </button>
                </li>
                <li class="nav-item">
                  <button
                    class="nav-link"
                    :class="{active: editingUserTab === 'views'}"
                    @click="editingUserTab = 'views'"
                  >
                    Views <span>(${ editingUserViewAccess.length })</span>
                  </button>
                </li>
              </ul>
              <ul class="list-group acl-list">
                <li>
                  <input
                    v-model="editingUserAccessFilter"
                    type="text"
                    class="form-control"
                    placeholder="Filter..."
                  />
                </li>
                <li
                  v-for="(item, index) in editingUserAccess"
                  :key="`acl-${item._id}`"
                  class="list-group-item"
                >
                  <label :for="`view-${item._id}`">
                    ${ item.name }
                    <i
                      v-if="editingUserAccess[index].publicRead"
                      class="bi bi-people-fill" title="Public"
                    ></i>
                  </label>
                  <br />
                  <label>
                    <input
                      :id="`read-${item.id}`"
                      class="form-check-input me-1 view-perm"
                      type="checkbox"
                      v-model="editingUserAccess[index].read"
                      :indeterminate="editingUserAccess[index].publicRead"
                      :disabled="editingUserAccess[index].publicRead || editingUserAccess[index].write"
                    />
                    View
                  </label>
                  <label class="ms-3 edit-form-label">
                    <input
                      :id="`write-${ item.id }`"
                      class="form-check-input me-1 edit-perm"
                      type="checkbox"
                      @click="onWriteCheck(index)"
                      v-model="editingUserAccess[index].write"
                      :disabled="editingUserAccess[index].publicWrite"
                      :indeterminate="editingUserAccess[index].publicWrite"
                    />
                    Edit
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-end">
          <div v-if="saveError" class="text-danger me-2">${saveError}</div>
          <button :disabled="saving" @click="saveUser" class="btn btn-primary save">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

