{% extends "layout.njk" %}

{% block styles %}
<link href="{{ '/assets/super-admin.css' | appendVersion }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
<script src="{{'/assets/super-admin-workspaces.js' | appendVersion }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="container-xxl mt-2" id="app" v-cloak>
   <ul class="nav nav-pills mb-2">
    <li class="nav-item">
      <a
        class="nav-link active"
        href="/super-admin/workspaces"
      >
        Workspaces
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="/super-admin/users"
      >
        Super Admins
      </a>
    </li>
  </ul>
  <div v-if="error" class="alert alert-danger" role="alert">${error}</div>

  <div class="mt-4 mb-2 d-flex align-items-center justify-content-between">
    <div>
      <button @click="editWorkspace" id="add-workspace-btn" class="btn btn-sm btn-secondary">Add Workspace</button>
    </div>
  </div>

  <div class="table-responsive-md">
    <table class="table table-striped" id="workspaces" ref="workspaces">
      <thead>
        <tr>
          <th class="{{ 'is-sorted' if sort === "name" }}">
            <a href="{{ sortLinks.name }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "name" else "text-secondary" }}">
              Name
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th class="{{ 'is-sorted' if sort === "created" }}">
            <a href="{{ sortLinks.created }}" class="text-decoration-none {{ order }} {{ "link-body-emphasis" if sort === "created" else "text-secondary" }}">
              Created
              <i class="bi bi-sort-down"></i>
            </a>
          </th>
          <th scope="col">URL</th>
          <th scope="col">ODK Sync</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% if workspaces.length === 0 %}
        <tr>
          <td colspan="100%">No workspaces</td>
        </tr>
        {% endif %}
        {% for workspace in workspaces %}
        <tr
          data-id="{{ workspace._id }}"
          data-name="{{ workspace.name }}"
        >
          <td class="name align-middle">{{ workspace.name }}</td>
          <td class="created align-middle">
            <time
              datetime="{{workspace.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}"
              title="{{workspace.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}"
            >
              {{ workspace.created | formatDate }}
            </time>
          </td>
          <td class="align-middle">
            <a
              :href="getWorkspaceUrl('{{ workspace.name }}')">
                ${ getWorkspaceUrl('{{ workspace.name }}') }
            </a>
          </td>
          <td class="align-middle">
            {% if workspace.sync and workspace.sync.enabled %}
              <a href="{{ workspace.sync.url }}" target="_blank">{{ workspace.sync.url }}</a>
              <br>
              User: {{ workspace.sync.user }}
              <br>
              Projects:
              {% for project in workspace.sync.projects %}
                <a
                  href="{{ workspace.sync.url }}/#/projects/{{ project }}"
                  target="_blank"
                  class="me-1"
                >{{ project }}</a>
              {% endfor %}
            {% endif %}
          </td>

          <td>
            <button class="btn btn-link edit-workspace" @click="editWorkspace">Edit</button>
            <button class="btn btn-link text-danger delete-workspace" @click="deleteWorkspace">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="edit-modal"
    tabindex="-1"
    aria-labelledby="edit-modal-title"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-modal-title">Edit Workspace</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div v-if="editingWorkspace" class="modal-body">
          <div class="alert alert-warning d-none" role="alert"></div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3 form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="edit-workspace-name"
                  required
                  placeholder="Name"
                  name="name"
                  maxlength="50"
                  v-model.trim="editingWorkspace.name"
                />
                <label for="edit-workspace-name">Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-end">
          <div v-if="saveError" class="text-danger me-2">${saveError}</div>
          <button :disabled="saving" @click="saveWorkspace" class="btn btn-primary save">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

