:root {
  --fixed-header-height: 0;
}

.modal.attachment .modal-body {
  overflow: hidden;
}
.modal-body img.small {
  width: 341px;
}
.modal-body img.medium {
  width: 512px;
}
.modal-body img.large {
  width: 1024px;
}

.record-source .modal-body .source-json {
  max-height: 75vh;
  overflow-y: auto;
}

.record-source .modal-body .spinner-border {
  display: none;
}

.record-source.loading .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-source.loading .modal-body .spinner-border {
  display: block;
}

.record-source.loading .modal-body .source-json {
  display: none;
}
.modal-body.record-source.loading {
  max-height: 75vh;
  overflow-y: auto;
}

main .dropdown-menu {
  max-height: 75vh;
  overflow-y: auto;
  /* 1 more than sticky top */
  z-index: 1021;
}

.sticky-header {
  position: relative;
}

.sticky-header th {
  --bs-table-bg: #f8f9fa;
  position: sticky;
  top: 0;
}

[data-bs-theme=dark] .sticky-header th {
  --bs-table-bg: inherit;
}

#data {
  width: 100vw;
  overflow: auto;
  scrollbar-gutter: stable;
}

#data tr.odd td {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

#data[data-type='view'] table td.multi-active {
  /* outline: 2px dotted #c78533; */
  background: #fffb0050;
}

#data td.editable:hover {
  cursor: pointer;
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

#data[data-iframe='true'] tr:hover {
  cursor: pointer;
  --bs-table-accent-bg: #fffb0050;
  --bs-table-bg: #fffb0050;
}

#data th.checkbox {
  width: 31px;
}

#data th[data-field='_id'] {
  width: 60px;
}

#data th[data-field='created'] {
  width: 120px;
}

#data > nav {
  position: sticky;
  left: 0;
}

#data tr:focus-visible {
  outline: none;
}

#data td {
  vertical-align: middle;
}

@keyframes edit-fade {
  from {
    background-color: #fffd9c;
  }
  to {
    background-color: inherit;
  }
}

#data td.updated {
  /* TODO Look to bring back if people don't like updated cells persisting until page refresh. */
  /* animation: edit-fade 5s; */
  background-color: #fffd9c;
}

[data-bs-theme=dark] #data td.updated {
  background-color: var(--bs-warning);
  color: var(--bs-dark) !important;
}

#new-submission-modal .modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

#new-submission-modal .form-floating > label {
  opacity: 1;
}

#new-submission-modal .field-value {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}

#data-loader {
  z-index: 1;
}

#active-filters > .input-group {
  width: auto;
}

.filter-instruction-popover {
  --bs-popover-max-width: 500px;
}

.filter-input {
  flex: 0 0 120px !important;
  max-width: 120px;
}

.modal-dialog.modal-fullscreen {
  width: 98vw;
  height: 98vh;
  margin: 1vh auto;
}

#edit-modal .modal-body {
  display: flex;
  flex-direction: column;
}

.lookup-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.lookup-container iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

#copy-to-modal .modal-body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

#copy-to-modal iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

#analyze .sticky-header th {
  top: var(--fixed-header-height);
}

#analyze > .data-placeholder {
  min-height: 50vh;
}

.note > button {
  right: 15px;
  top: 5px;
  opacity: 0.2;
  transition: opacity 0.2s ease-in;
}

.note:hover > button {
  opacity: 1;
}

.note .alert.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@media only screen and (max-width: 620px) {
  .pagination .page-item:not(.active):not(.first):not(.last):not(.previous):not(.next) {
    display: none;
  }
}

