
#source-fields-modal .modal-body .fields {
  max-height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#source-fields-modal .modal-body .fields {
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-striped-color: #212529;
}

#source-fields-modal .modal-body .fields > .row:nth-of-type(odd) {
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-striped-color: var(--bs-emphasis-color);
  background-color: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

#preview > .loading-placeholder {
  min-height: 50vh;
}

#preview tr.odd td {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

#preview th.checkbox {
  width: 31px;
  display: none;
}

#preview th[data-field='_id'],
#preview td[data-field='_id'] {
  width: 60px;
  display: none;
}

#preview .for-submission-check {
  display: none;
}

#preview th[data-field='created'] {
  width: 120px;
}

#preview .add-filter {
  display: none;
}