<button type="button" class="btn btn-secondary"
    data-bs-toggle="modal" data-bs-target="#{{ attachment.id }}">
  {{ attachment.label or attachment.name }}
</button>

<div class="modal fade attachment" id="{{ attachment.id }}" tabindex="-1" aria-labelledby="attachment-{{ attachment.id}}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attachment-{{ attachment.id}}">{{ column.name }} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="position-absolute start-50 top-50 spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <img loading="lazy" class="medium position-relative mw-100 mx-auto"
            src="/data-viewer/api/attachment?key={{ attachment.s3Key | urlencode }}{{ '&size=medium' if attachment.transcodes }}"
            onerror="window.onAttachmentPreviewError(this)" />
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <button type="button" class="btn btn-primary rotate-btn clockwise me-1">
            <i class="bi bi-arrow-clockwise"></i>
            Rotate
          </button>
          <button type="button" class="btn btn-primary rotate-btn counter-clockwise">
            <i class="bi bi-arrow-counterclockwise"></i>
            Rotate
          </button>
        </div>
        <div>
          {% if attachment.editable %}
          <button
            class="btn btn-danger delete-attachment me-1"
            data-submission-id="{{ submission.id }}"
            data-submission-sub-index="{{ submission.subIndex }}"
            data-id="{{ attachment.id }}"
            data-name="{{ attachment.name }}"
            data-field="{{ field.id }}"
          >Delete</button>
          {% endif %}
          <a class="btn btn-primary"
            download
            href="/data-viewer/api/attachment?key={{ attachment.s3Key | urlencode }}&label={{ (attachment.label or attachment.name) | urlencode }}">
            Download ({{ attachment.size | prettyBytes }})
          </a>
        </div>
      </div>
    </div>
  </div>
</div>