<button type="button" class="btn btn-secondary"
    data-bs-toggle="modal" data-bs-target="#{{ attachment.id }}">
  {{ attachment.name }}
</button>

<div class="modal fade attachment" id="{{ attachment.id }}" tabindex="-1" aria-labelledby="attachment-{{ attachment.id}}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attachment-{{ attachment.id}}">{{ column.name }} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="position-absolute start-50 top-50 spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <img loading="lazy" class="medium position-relative mw-100 mx-auto"
            src="/data-viewer/api/attachment?key={{ attachment.s3Key | urlencode }}{{ '&size=medium' if attachment.transcodes }}"
            onerror="window.onAttachmentPreviewError(this)" />
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <button type="button" class="btn btn-primary rotate-btn clockwise">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
            Rotate
          </button>
          <button type="button" class="btn btn-primary rotate-btn counter-clockwise">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"></path>
              <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"></path>
            </svg>
            Rotate
          </button>
        </div>
        <div>
          {% if attachment.editable %}
          <button
            class="btn btn-danger delete-attachment"
            data-submission-id="{{ submission.id }}"
            data-submission-sub-index="{{ submission.subIndex }}"
            data-id="{{ attachment.id }}"
            data-name="{{ attachment.name }}"
            data-field-name="{{ field.name }}"
          >Delete</button>
          {% endif %}
          <a class="btn btn-primary"
            download
            href="/data-viewer/api/attachment?key={{ attachment.s3Key | urlencode }}">
            Download ({{ attachment.size | prettyBytes }})
          </a>
        </div>
      </div>
    </div>
  </div>
</div>