{% if submissions.length !== 0 %}
<nav class="d-flex align-items-center top-pagination d-none">
  <div class="px-2">
    <small>{{ submissions.length }} of {{ pagination.totalItems | formatNumber }}</small>
  </div>
  <ul class="pagination pagination-sm m-0">
    <li class="page-item {% if 1 === pagination.currentPage %} disabled {% endif %}">
      <a class="page-link" href="{{ pagePathWQuery }}&offset=0&limit={{ pagination.pageSize }}"
          {% if 1 === pagination.currentPage %} tabindex="-1" aria-disabled="true" {% endif %}>First</a>
     </li>
    {% for page in pagination.pages %}
    <li class="page-item {% if page === pagination.currentPage %} active {% endif %}">
      {% if page !== pagination.currentPage %}
        <a class="page-link"
          href="{{ pagePathWQuery }}&offset={{ (page - 1) * pagination.pageSize }}&limit={{ pagination.pageSize }}">{{ page }}</a>
      {% else %}
        <span class="page-link">{{ page }}</span>
      {% endif %}
      </li>
    {% endfor %}
    <li class="page-item {% if pagination.totalPages === pagination.currentPage %} disabled {% endif %}">
      <a class="page-link"
          href="{{ pagePathWQuery }}&offset={{ (pagination.totalPages - 1) * pagination.pageSize }}&limit={{ pagination.pageSize }}"
          {% if pagination.totalPages === pagination.currentPage %} tabindex="-1" aria-disabled="true" {% endif %}>Last</a>
    </li>
    {% if csvLink %}
    <li class="ms-2">
      <div class="btn-group dropdown">
        <a class="btn btn-secondary btn-sm export-btn" href="{{ csvLink }}" role="button" download>Export</a>
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item export-btn" href="{{ csvLink }}">Export Visible Columns</a></li>
          <li><a class="dropdown-item" href="{{ csvLink }}">Export All Columns</a></li>
        </ul>
      </div>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<table class="table sticky-header table-bordered">
  <thead class="table-light">
    <tr>
      <th class="checkbox">
        {% if not isIFRAME %}
          <input
            id="check-all"
            type="checkbox"
            class="form-check-input"
            {{ 'disabled' if submissions.length === 0 }}
          />
        {% endif %}
      </th>
      {% for column in fields %}
        <th scope="col" data-field="{{ column.id }}" data-name="{{ column.name }}"
            class="{% if column.sortable %} sortable text-nowrap {% endif %} {% if column.isSorted %} is-sorted {% endif %}">
          {% if column.sortable %}
            <a href="{{ column.url }}"
                class="text-decoration-none {% if column.isSorted %} link-dark {{ column.isSorted }} {% else %} text-secondary {% endif %}">
              {{ column.displayName | safe }}
              <i class="bi bi-sort-down"></i>
            </a>
            <button
              class="btn p-0 add-filter"
              data-id="{{ column.id }}"
              title="Filter field">
              <i class="bi bi-funnel"></i>
            </button>
            {% if theImport %}
              <button class="btn btn-link rename-field" title="Rename field">
                <i class="bi bi-pencil-square"></i>
              </button>
            {% endif %}
          {% else %}
            <span class="text-secondary">{{ column.displayName }}</span>
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if submissions.length === 0 %}
    <tr  tabindex="0"><td colspan="100%">No results</td></tr>
    {% endif %}

    {% for submission in submissions %}
    {% set submissionIndex = loop.index0 %}
    <tr class="{{submission.rowCssClass }}" data-id="{{ submission.id }}" {% if submissionIndex === 0 %} tabindex="0" {% endif%}>
      <td class="for-submission-check">
        <input
          {% if isIFRAME %}
            type="radio" name="lookup-value"
          {% else %}
            type="checkbox"
          {% endif %}
          {% if disableSelect %}
            disabled
          {% endif %}
          class="form-check-input submission-check"
          data-id="{{ submission.id }}" />
      </td>
      {% for field in fields %}
        {% if field.id === '_id' %}
        <td data-field="{{ field.id }}">
          <div
            id="record-{{ submission.id }}-{{ submissionIndex }}"
            class="modal fade record-source"
            data-id="{{ submission.id }}"
            data-index="{{ submission.subIndex }}"
            tabindex="-1"
            aria-labelledby="title-{{ submission.id }}"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="title-{{ submission.id }}">
                    {{submission.sourceId}}:
                    <a href="/data-viewer/submission/{{ submission.id }}" target="_blank">{{ submission.id }}</a>
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="spinner-border text-primary spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <pre class="source-json">{{submission.data | prettyJSON }}</pre>
                </div>
                <div class="modal-footer justify-content-between">
                  <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-secondary btn-sm"
              data-bs-toggle="modal" data-bs-target="#record-{{ submission.id }}-{{ submissionIndex }}">
            {{ submission.id | shortenID }}
          </button>
        </td>
        {% elif field.id === 'created' %}
          <td data-field="{{ field.id }}">
            <time
              datetime="{{submission.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}"
              title="{{submission.created | formatDate('YYYY-MM-DDTHH:mm:ssZ[Z]') }}"
            >
              {{ submission.created | formatDate }}
            </time>
          </td>
        {% else %}
          {% set attachment = submission.isAttachment(submission.flat[field.id]) %}
          {% set isSourceField = submission.isSourceField(field.id) %}
          {% set isUnwoundField = submission.isUnwoundField(field.id) %}
          {% if isUnwoundField %}
            {% set fieldMetaInfo = submission.getFieldInfo(field, submission.subIndex) %}
            {% else %}
            {% set fieldMetaInfo = submission.getFieldInfo(field) %}
          {% endif %}
          <td
              data-id="{{ submission.id }}"

              {% if isSourceField %}
                data-source-field="true"
              {% endif %}

              {% if submission.subIndex === undefined or submission.subIndex === null %}
                  data-field="{{ field.id }}"
              {% else %}
                {% if not isSourceField or isUnwoundField %}
                  data-field="{{ field.id }}[{{ submission.subIndex }}]"
                {% else %}
                  data-field="{{ field.id }}"
                {% endif %}
              {% endif %}

              data-value="{{ submission.flat[field.id] }}"

              {% if field.editable and not attachment %}
                class="editable cursor-pointer"
              {% endif %}

              {% if fieldMetaInfo and fieldMetaInfo.type %}
                data-type="{{ fieldMetaInfo.type }}"
                {% if fieldMetaInfo.originId %}
                  data-type-origin="{{ fieldMetaInfo.originId }}"
                  data-type-origin-field="{{ fieldMetaInfo.originField }}"
                {% endif %}
              {% endif %}
          >
            {% if attachment %}
              {% include "_attachment.njk" %}
            {% elseif submission.flat[field.id] and fieldMetaInfo and (fieldMetaInfo.type === 'source' or fieldMetaInfo.type === 'view') %}
              <a
                href="/data-viewer/{{ fieldMetaInfo.type }}/{{ fieldMetaInfo.originId }}?{{ fieldMetaInfo.originField }}=%22{{ submission.flat[field.id] | string | urlencode }}%22"
              >
                {{ submission.flat[field.id] | formatValue }}
              </a>
            {% else %}
              {{ submission.flat[field.id] | formatValue }}
            {% endif %}
          </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if submissions.length !== 0 %}
<nav>
  <div class="px-2 pb-2">
    Showing {{ submissions.length }} of {{ pagination.totalItems | formatNumber }} submissions.
  </div>

  <ul class="pagination pagination-sm p-2">
    <li class="page-item first {% if 1 === pagination.currentPage %} disabled {% endif %}">
      <a class="page-link" href="{{ pagePathWQuery }}&offset=0&limit={{ pagination.pageSize }}"
          {% if 1 === pagination.currentPage %} tabindex="-1" aria-disabled="true" {% endif %}>First</a>
     </li>
    {% for page in pagination.pages %}
    <li class="page-item
        {% if page === pagination.currentPage %} active {% endif %}
        {% if page === pagination.currentPage - 1 %} previous {% endif %}
        {% if page === pagination.currentPage + 1 %} next {% endif %}
    ">
      {% if page !== pagination.currentPage %}
        <a class="page-link"
          href="{{ pagePathWQuery }}&offset={{ (page - 1) * pagination.pageSize }}&limit={{ pagination.pageSize }}">{{ page }}</a>
      {% else %}
        <span class="page-link">{{ page }}</span>
      {% endif %}
      </li>
    {% endfor %}
    <li class="page-item last {% if pagination.totalPages === pagination.currentPage %} disabled {% endif %}">
      <a class="page-link"
          href="{{ pagePathWQuery }}&offset={{ (pagination.totalPages - 1) * pagination.pageSize }}&limit={{ pagination.pageSize }}"
          {% if pagination.totalPages === pagination.currentPage %} tabindex="-1" aria-disabled="true" {% endif %}>Last</a>
    </li>
    <li class="ms-2 d-none d-sm-block">
      <div class="btn-group dropup">
        <button type="button"
            id="itemsPerPageBtn"
            class="btn btn-secondary dropdown-toggle btn-sm"
            data-bs-toggle="dropdown"
            aria-expanded="false">
          Show rows: {{ pagination.pageSize | formatNumber }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item {% if 50 == pagination.pageSize %} active {% endif %}"
            href="{{ pagePathWQuery }}&limit=50">50</a></li>
          <li><a class="dropdown-item {% if 100 == pagination.pageSize %} active {% endif %}"
            href="{{ pagePathWQuery }}&limit=100">100</a></li>
          <li><a class="dropdown-item {% if 500 == pagination.pageSize %} active {% endif %}"
            href="{{ pagePathWQuery }}&limit=500">500</a></li>
          <li><a class="dropdown-item {% if 1000 == pagination.pageSize %} active {% endif %}"
            href="{{ pagePathWQuery }}&limit=1000">1,000</a></li>
        </ul>
      </div>
    </li>
    {% if csvLink %}
    <li class="ms-2">
      <div class="btn-group dropup">
        <a class="btn btn-secondary btn-sm export-btn" href="{{ csvLink }}" role="button" download>Export</a>
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item export-btn" href="{{ csvLink }}">Export Visible Columns</a></li>
          <li><a class="dropdown-item" href="{{ csvLink }}">Export All Columns</a></li>
        </ul>
      </div>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<div class="modal fade" id="edit-modal"
    tabindex="-1" aria-labelledby="edit-modal-title" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-modal-title">
          Edit Submission
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <select class="form-select">
            <option value="text" selected>Text</option>
            <option value="int">Int (10)</option>
            <option value="float">Float (1.10)</option>
            <option
              value="attachment"
              {{'disabled' if dataType === 'import' }}
            >
              Attachment
            </option>
            <option value="lookup" disabled>Lookup</option>
            <option value="sequence" disabled>Sequence</option>
          </select>
          <input id="edit-input" type="text" class="form-control w-75"
              aria-label="Input for new value" />
          <input id="attachment-input" type="file" class="form-control w-75"
              aria-label="Upload for new attachment" />
          <button class="clear btn btn-outline-secondary" title="Clear value">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
        <div class="lookup-container"></div>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <div id="edit-count-warning" class="text-danger d-none" role="alert">
            NOTE: This is a bulk edit of <span></span> records.
            <br/>
            Undo operations may not work perfectly with bulk operations.
          </div>
        </div>
        <div>
          <div class="spinner-border text-primary spinner-border-sm d-none me-1" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <button class="save btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% if theImport %}
<div class="modal fade" id="rename-field-modal"
    tabindex="-1" aria-labelledby="rename-field-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rename-field-modal-title">Rename Field:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input id="rename-field-existing-id" type="hidden" />
          <input id="rename-field-input" type="text" class="form-control w-75"
              aria-label="Input for field name" />
        </div>
      </div>
      <div class="modal-footer justify-content-end">
        <div class="spinner-border text-primary spinner-border-sm d-none" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <button class="save btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div
  class="modal fade"
  id="lookup-ref-modal"
  tabindex="-1"
  aria-labelledby="lookup-ref-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div id="lookup-view-modal-title" class="modal-header">
        <h5 class="modal-title"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="lookup-container"></div>
      </div>
    </div>
  </div>
</div>