<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{%- if pageTitle -%} {{pageTitle}} - {% endif -%}In Situ Labs App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/assets/isl-favicon.jpg" type="image/jpeg" />

    <link href="{{ '/assets/lib/bootstrap.custom.css' | appendVersion }}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ '/assets/lib/icons/bootstrap-icons.min.css' | appendVersion }}"
    />
    <style>
      [v-cloak] {
        display: none !important;
      }

      body {
        --bg-sticky: #f8f9fa;
      }

      [data-bs-theme=dark] body {
        --bg-sticky: #c2aa9e;
      }

      .navbar-brand img {
        width: 50px;
      }

      .navbar .dropdown-menu {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
      }

      #user-theme-menu {
        z-index: 1021;
      }

      th.is-sorted a.asc .bi-sort-down::before {
        transform: rotate(180deg);
      }

      .sticky-header {
        position: relative;
      }

      .bg-sticky {
        background-color: var(--bg-sticky);
      }

      .sticky-header th {
        background-color: var(--bg-sticky);
        position: sticky;
        top: 0;
      }

      [data-bs-theme=dark] .sticky-header th .link-body-emphasis {
        color: #000 !important;
      }
    </style>

    {% block styles %}{% endblock %}

    <script>
      const $getPreferredTheme = () => {
        try {
          const storedTheme = window.localStorage.getItem('theme');
          if (storedTheme) {
            return storedTheme;
          }
        } catch (error) {}

        return 'auto';
      };

      const $setTheme = (theme) => {
        if (
          theme === 'dark' ||
          (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
        } else {
          document.documentElement.removeAttribute('data-bs-theme');
        }

        document.querySelectorAll('#user-theme-menu .theme-btn').forEach(($btn) => {
          if ($btn.dataset.theme === theme) {
            $btn.classList.add('active');
          } else {
            $btn.classList.remove('active');
          }
        });

        if (theme !== 'auto') {
          window.localStorage.setItem('theme', theme);
        } else {
          window.localStorage.removeItem('theme');
        }
      };

      $setTheme($getPreferredTheme());
      window.addEventListener('DOMContentLoaded', () => {
        let $menu = document.getElementById('user-theme-menu');
        if ($menu) {
          $setTheme($getPreferredTheme());
          $menu.addEventListener('click', (event) => {
            let $btn = event.target.closest('.theme-btn');
            if ($btn) {
              event.preventDefault();
              event.stopImmediatePropagation();
              $setTheme($btn.dataset.theme);
            }
          });
        }
      });

      const $api = function (url, options = {}) {
        return new Promise((resolve, reject) => {
          options.headers = options.headers || {};
          options.headers['Accept'] = 'application/json';
          options.headers['Content-Type'] = 'application/json';
          if (options.body instanceof FormData) {
            // Clear content-type when sending a FormData object. Otherwise uploads fail to work.
            // The browser will do everything for us when working with FormData POSTs.
            delete options.headers['Content-Type'];
          }

          fetch(url, options)
            .then((response) => {
              let contentType = response.headers.get('Content-Type'),
                method = contentType && /json/.test(contentType) ? 'json' : 'text';

              if (response.ok) {
                resolve(response[method]());
              } else {
                response[method]().then((err) => {
                  reject(err);
                });
              }
            })
            .catch((err) => {
              reject(err);
            });
        });
      };
    </script>
  </head>

  <body
    {%- if user %} data-user="{{ user._id }}" {%- endif -%}
    {%- if language %} data-language="{{ language }}" {%- endif -%}
  >
    {% if not preventHeader %}
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center">
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/assets/isl-100x100.png" alt="In Situ Labs Logo" />
            <span class="ms-2 fs-6">
              For field research
              <br />
              By field researchers
            </span>
          </a>
          {% block pageTitle %}{% endblock %}
        </div>
        {%- if user -%}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarScroll" class="collapse navbar-collapse">
          <div class="d-sm-flex align-items-center justify-content-between flex-fill">
            {% block nav %}<div></div>{% endblock %}
            <ul class="navbar-nav ms-sm-auto flex-sm-row flex-sm-nowrap">
              {% if workspace and workspace.sync and workspace.sync.enabled %}
              <li class="nav-item me-sm-1 me-lg-4">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{{ workspace.sync.url }}"
                  target="_blank"
                >
                  {{ workspace.sync.type }}
                  <i class="bi bi-box-arrow-up-right ms-1"></i>
                </a>
              </li>
              {% endif %}
              <li class="nav-item me-sm-1 me-lg-4">
                <a class="nav-link" aria-current="page" href="/data-viewer/sources">Sources</a>
              </li>
              <li class="nav-item me-sm-1 me-lg-4">
                <a class="nav-link" aria-current="page" href="/data-viewer/views">Views</a>
              </li>
              {% if isAdmin %}
              <li class="nav-item me-sm-1 me-lg-4">
                <a class="nav-link" aria-current="page" href="/admin/users">Users</a>
              </li>
              {% endif %}

              {% if workspace.languages and workspace.languages.length %}
              <li class="nav-item d-flex align-items-center me-sm-1 me-lg-4">
                <form>
                  <div class="input-group input-group-sm">
                    <span class="input-group-text"><i class="bi bi-translate"></i></span>
                    <select id="lang-select" class="form-select form-select-sm" aria-label="Language">
                      <option
                        value="en"
                        {% if language === 'en' %} selected {% endif %}
                      >
                        English
                      </option>
                      {% for lang in languages %}
                      <option
                        value="{{ lang.id }}"
                        {% if language === lang.id %} selected {% endif %}
                      >
                        {{ lang.nativeName }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </form>
              </li>
              {% endif %}

              <li class="nav-item dropdown">
                <button
                  class="btn btn-link nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                  id="user-menu"

                >
                  {{ user.firstName }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                  aria-labelledby="user-menu"
                  id="user-theme-menu">
                  <li>
                    <div class="btn-group dropstart d-block">
                      <button
                        type="button"
                        class="dropdown-item dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bi bi-moon-stars-fill me-1"></i>
                        Theme
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <li>
                          <button
                            class="dropdown-item theme-btn"
                            type="button"
                            id="theme-btn-auto"
                            data-theme="auto"
                          >
                            <i class="bi bi-circle-half me-1"></i>
                            <span>Auto</span>
                          </button>
                        </li>
                        <li>
                          <button
                            class="dropdown-item theme-btn"
                            type="button"
                            id="theme-btn-light"
                            data-theme="light"
                          >
                            <i class="bi bi-brightness-high-fill me-1"></i>
                            <span>Light</span>
                          </button>
                        </li>
                        <li>
                          <button
                            class="dropdown-item theme-btn"
                            type="button"
                            id="theme-btn-dark"
                            data-theme="dark"
                          >
                            <i class="bi bi-moon-stars-fill me-1"></i>
                            <span>Dark</span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </li>

                  {% if isSuperAdmin %}
                  <li><a class="dropdown-item" href="/super-admin/workspaces">Workspaces</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
        </div>
    </nav>
    {% endif %}

    <main>{% block content %}{% endblock %}</main>

    <script src="{{'/assets/lib/bootstrap.bundle.min.js' | appendVersion }}"></script>
    <script src="{{ ('/assets/lib/' + libVue) | appendVersion }}"></script>
    <script>
    if (document.getElementById('lang-select')) {
      document.getElementById('lang-select').addEventListener('change', () => {
        let lang = event.target.value;
        let ttl = new Date();
        ttl.setTime(ttl.getTime() + (1000 * 60 * 60 * 24 * 31));
        document.cookie = `lang=${lang};path=/;Expires=${ttl.toUTCString()};`;
        window.location.reload();
      });
    }
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>

