{% extends "layout.njk" %}

{% block styles %}
<style>
  .fields .form-floating > label {
    opacity: 0.7;
  }

  [data-bs-theme=dark] .fields .form-floating > label {
    color: var(--bs-light) !important;
  }

  .sample {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }

  .no-rounded-bottom-left {
    border-bottom-left-radius: 0 !important;
  }

  .no-rounded-bottom-right {
    border-bottom-right-radius: 0 !important;
  }
</style>
{% endblock %}

{% block pageTitle %}
  <a
    href="/data-viewer/source/{{ source._id }}"
    class="badge bg-primary link-light link-opacity-100 text-decoration-none"
  >{{ source.name }}</a>
{% endblock %}

{% block content %}

<div id="app" v-cloak class="my-2 container-xxl">
  <ul class="nav nav-pills mb-2">
    <li class="nav-item">
      <button class="nav-link" :class="{active: tab === 'edit'}" @click="tab = 'edit'">Edit</button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        :class="{active: tab === 'permissions'}"
        @click="tab = 'permissions'"
        :disabled="isNew"
      >
        Permissions
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        :class="{active: tab === 'advanced'}"
        @click="tab = 'advanced'"
        :disabled="isNew"
      >
        Advanced
      </button>
    </li>
    <li class="nav-item flex-fill"></li>
    <li v-if="!isNew && !isDeleted" class="nav-item">
      <a class="nav-link" :href="`/data-viewer/source/${this.id}/import`"
        >Import Data</a
      >
    </li>
    <li v-if="!isNew" class="nav-item">
      <a class="nav-link" :href="`/data-viewer/source/${this.id}`"
        >Go To Source</a
      >
    </li>
  </ul>

  <div v-if="isDeleted" class="alert alert-warning" role="alert">Archived source</div>
  <div v-if="error" class="alert alert-danger" role="alert">${error}</div>

  <section v-if="tab === 'edit'">
    <ul v-if="availableLanguages.length > 1" class="nav nav-tabs mt-4">
      <li v-for="l of availableLanguages" :key="l.id" class="nav-item">
        <button
          class="nav-link"
          :class="{active: language === l.id}"
          type="button"
          @click="selectLanguage(l.id)"
        >
          ${l.name}
        </button>
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <div class="d-flex mt-2">
          <input
            type="text"
            disabled
            v-model.trim="system"
            class="form-control"
            placeholder="Source system..."
          />
          <input
            type="text"
            disabled
            v-model.trim="namespace"
            class="form-control ms-1"
            placeholder="Source namespace..."
          />
        </div>

        <div class="d-flex mt-2">
          <input
            type="text"
            :disabled="isDeleted"
            @input="updateVal('name', $event)"
            :value="getVal('name')"
            class="form-control"
            :placeholder="isPrimaryLanguage ? 'Source name...' : (name ? name : 'Source name...')"
            required
            ref="name"
          />
        </div>

        <div class="d-flex mt-2">
          <textarea
            @input="updateVal('note', $event)"
            :value="getVal('note')"
            :disabled="isDeleted"
            class="form-control"
            :placeholder="isPrimaryLanguage ? 'Source note...' : (note ? note : 'Source note...')"
          ></textarea>
        </div>
      </div>
    </div>

    <!--
    <div class="row mt-2">
      <div class="col">
        <button class="btn btn-primary" @click="save" :disabled="saving || isDeleted || tab !== 'edit'">
         Save
        </button>
        <span
          v-if="saved && !dirty"
          class="ms-2 text-success"
        >
          Source saved
        </span>
      </div>
    </div>
    -->

    <div class="row sticky-top bg-body-secondary py-2 mt-4">
      <div class="col-10 d-flex align-items-center justify-content-between">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-search"></i>
          </span>
          <input
            class="form-control"
            type="text"
            v-model="fieldSearch"
            placeholder="Filter Field Name..."
            @keyup.esc.stop="fieldSearch = ''"
          />
        </div>
      </div>
      <div class="col-2 d-md-flex align-items-center justify-content-between">
        <template v-if="!isNew">
          <span>Sample Data</span>
          <button v-if="hasMoreSamples" class="btn btn-outline-primary btn-sm" @click="nextSample">
            Shuffle
          </button>
        </template>
      </div>
    </div>
    <div class="fields">
      <div v-for="(field, index) in visibleFields"
        :key="field.id"
        class="row py-2 bg-body-tertiary"
      >
        <div class="col-10">
          <div :class="{'bg-body': index % 2 === 0, 'bg-primary-subtle3': index % 2 !== 0}">
            <div class="input-group">
              <div class="form-floating flex-fill">
                <input
                  type="text"
                  class="form-control"
                  :class="{'bg-body': index % 2 === 0, 'bg-body-tertiary': index % 2 !== 0, 'no-rounded-bottom-left': hasMetaOptions(field)}"
                  :id="`field-${field.id}`"
                  :placeholder="field.id"
                  @blur="updateFieldName(field.id, $event)"
                  :value="getFieldName(field.id)"
                  :disabled="isDeleted"
                />
                <label :for="`field-${field.id}`" class="text-secondary">${field.id}</label>
              </div>

              <div class="form-floating field-type">
                <select
                  class="form-select"
                  :class="{empty: !field.meta.type, 'bg-body': index % 2 === 0, 'bg-body-tertiary': index % 2 !== 0}"
                  v-model="field.meta.type"
                >
                  <option value=""></option>
                  <option value="text">Text</option>
                  <option value="int">Int (10)</option>
                  <option value="float">Float (1.10)</option>
                  <option value="attachment" disabled>Attachment</option>
                  <option value="source">Source Lookup</option>
                  <option value="view" disabled>View Lookup</option>
                  <option value="sequence">Sequence (Auto-Increment)</option>
                </select>
                <label for="floatingSelect">Type</label>
              </div>

              <button
                type="button"
                class="btn"
                :class="{'btn-outline-primary': defaultFields[field.id], 'btn-outline-secondary': !defaultFields[field.id]}"
                @click="toggleDefaultField(field.id)"
                title="Indicate if the field is visible by default"
              >
                <i
                  class="bi"
                  :class="{'bi-eye-fill': defaultFields[field.id], 'bi-eye-slash': !defaultFields[field.id]}"
                ></i>
              </button>

              <button
                class="btn btn-outline-secondary btn-sm"
                @click="moveField(index, 1)"
                :disabled="index === fields.length - 1 || filteringFields || isDeleted"
                title="Move field down"
              >
                <i class="bi bi-arrow-down-short"></i>
              </button>
              <button
                @click="moveField(index, -1)"
                class="btn btn-outline-secondary btn-sm"
                :disabled="index === 0 || filteringFields || isDeleted"
                title="Move field up"
              >
                <i class="bi bi-arrow-up-short"></i>
              </button>

              <button
                class="btn btn-outline-danger btn-sm"
                :class="{'no-rounded-bottom-right': hasMetaOptions(field)}"
                @click="deleteField(field)"
                title="Delete field"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>

          <div
            v-if="hasMetaOptions(field)"
            class="d-flex justify-content-end border border-top-0 p-2 rounded-bottom"
            :class="{'bg-body': index % 2 === 0, 'bg-body-tertiary': index % 2 !== 0}"
          >
            <div v-if="field?.meta?.type === 'sequence'" class="input-group w-50">
              <div class="form-floating">
                <input
                  v-model="sequenceFields[field.id]"
                  class="form-control"
                  :class="{'bg-body': index % 2 === 0, 'bg-body-tertiary': index % 2 !== 0}"
                  :id="'sequence-next-' + field.id"
                  inputmode="decimal"
                  type="number"
                  min="1"
                  @change="cleanFieldTypes"
                />
                <label :for="'sequence-next-' + field.id">
                  Sequence Next Value
                </label>
              </div>
            </div>
            <div v-else class="input-group w-75">
              <div class="form-floating">
                <input
                  v-model="field.meta.originId"
                  list="lookup-origins"
                  class="form-control"
                  :class="{'bg-body': index % 2 === 0, 'bg-body-tertiary': index % 2 !== 0}"
                  :id="'lookup-table-' + field.id"
                  @change="cleanFieldTypes"
                />
                <label :for="'lookup-table-' + field.id">
                  ${ getSourceName(field.meta.originId) || 'Lookup table' }
                </label>
              </div>
              <div class="form-floating">
                <input
                  v-model="field.meta.originField"
                  :list="`lookup-fields-${field.meta.originId}`"
                  class="form-control"
                  :class="{'bg-body': index % 2 === 0, 'bg-body-tertiary': index % 2 !== 0}"
                  :id="'lookup-field-' + field.id"
                />
                <label :for="'lookup-field-' + field.id">Field</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <input type="text" disabled :value="sample[field.id]" class="form-control sample" />
        </div>
      </div>
      <div class="row bg-body-tertiary py-2">
        <div class="col-10">
          <div class="input-group" :class="{'is-invalid': !isPrimaryLanguage}">
            <input
              type="text"
              :disabled="isDeleted || !isPrimaryLanguage"
              class="form-control"
              placeholder="Add field..."
              @keyup.enter="addField"
              ref="addField"
            />
          <button
            class="btn btn-outline-secondary"
            :disabled="!isPrimaryLanguage"
            @click="addField">
            <i class="bi bi-plus-circle"></i>
          </button>
        </div>
        <div class="invalid-feedback">
          Change to primary language to add fields.
        </div>
      </div>
    </div>

    <div class="row mt-4 mb-5">
      <div class="col">
        <button class="btn btn-primary" @click="save" :disabled="saving || isDeleted || tab !== 'edit'">
         Save
        </button>
        <span
          v-if="saved && !dirty"
          class="ms-2 text-success"
        >
          Source saved
        </span>
      </div>
    </div>

    <datalist id="lookup-origins">
      <option v-for="s in allSources" :key="s._id" :value="s._id">
        ${ s.name }
      </option>
    </datalist>

    <datalist v-for="s in allSources" :id="`lookup-fields-${s._id}`">
      <option v-for="f in s.fields" :key="f.id" :value="f.id">
        ${ f.name || f.id }
      </option>
    </datalist>
  </section>

  <section v-if="tab === 'permissions'" class="mt-2">
    <h5 class="mt-4">All Users</h5>
    <div class="p-2">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          v-model="permissions.read"
          id="checkAllRead"
          :disabled="isDeleted"
        />
        <label class="form-check-label" for="checkAllRead">
          View
        </label>
      </div>
    </div>


    <h5 class="mt-3">Indvidual Users</h5>
    {% include "_permissions.njk" %}

    <div class="row mt-4 mb-5">
      <div class="col d-flex align-items-center">
        <button class="btn btn-primary" @click="savePermissions" :disabled="saving || isDeleted">
         Save
        </button>
        <span
          v-if="permissionsSaved"
          class="ms-2 text-success"
        >
          Permissions saved
        </span>
      </div>
    </div>
  </section>

  <section v-if="tab === 'advanced'" class="mt-2">
    <div
      v-if="!isDeleted"
      class="mt-4"
    >
      <h5>Bulk modify field type</h5>
      <div class="row g-0">
        <div class="col-3">
          <div class="form-floating mb-3">
            <input
              list="bulk-modify-all-fields"
              id="bulk-field-modify-id"
              class="form-control mb-2"
              required
              v-model="bulkModifyField"
            />
            <label for="bulk-field-modify-id">Field</label>
          </div>
        </div>

        <div class="col-3">
          <div class="form-floating ms-2">
            <select
              id="bulk-field-modify-type"
              class="form-select"
              required
              v-model="bulkModifyType"
            >
              <option value="text">Text</option>
              <option value="int">Int (10)</option>
              <option value="float">Float (1.10)</option>
            </select>
            <label for="bulk-field-modify-type">Field Type</label>
          </div>
        </div>
      </div>

      <datalist id="bulk-modify-all-fields">
        <option v-for="f in fields" :key="f.id" :value="f.id">
          ${ f.name || f.id }
        </option>
      </datalist>

      <button
        @click="onBulkModifyType"
        class="btn-primary btn"
        :disabled="bulkModifySaving || !bulkModifyField || !bulkModifyType"
      >
        Update
      </button>

      <div
         v-if="bulkModifySaving"
        class="spinner-border text-primary spinner-border-sm ms-2"
        role="status"
      >
        <span class="visually-hidden">Saving...</span>
      </div>
      <span v-if="bulkModifyResponse" class="ms-2 text-success">${bulkModifyResponse}</span>
    </div>

    <hr />

    <form
      v-if="isDeleted"
      :action="`/api/source/${id}/restore`"
      method="post"
      class="mt-4"
    >
      <h5>Restore the source?</h5>
      <button class="btn-primary btn">Restore</button>
    </form>

    <form
      v-else
      @submit="onDeleteForm"
      :action="`/api/source/${id}/delete`"
      method="post"
      class="mt-4"
    >
      <h5>Archive the source?</h5>
      <p>
        NOTE: All user permissions for this source will be deleted.
        Restoring the source, will not bring these permissions back.
      </p>
      <button class="btn-danger btn">Archive</button>
    </form>
  </section>
</div>

<script>
  window._languages = {{ languages | dump | safe }};
  window._source = {{ source | dump | safe }};
  window._allSources = {{ sources | dump | safe }};
  window._sequenceFields = {{ sequenceFields | dump | safe }};
  {% if samples %}
  window._samples = {{ samples | dump | safe }};
  {% endif %}
</script>
<script type="module" src="{{ '/assets/source-edit.js' | appendVersion }}"></script>
{% endblock %}

