{% extends "layout.njk" %}

{% block styles %}
<style>
  .fields input[type='text']:focus::placeholder {
    opacity: 0;
  }

  .fields .form-floating > label {
    opacity: 0.7;
  }

  .sample {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
  }
</style>
{% endblock %}

{% block content %}

<div id="app" v-cloak class="my-2 container-xxl">
  <ul class="nav nav-pills mb-2">
    <li class="nav-item">
      <button class="nav-link" :class="{active: tab === 'edit'}" @click="tab = 'edit'">Edit</button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        :class="{active: tab === 'permissions'}"
        @click="tab = 'permissions'"
      >
        Permissions
      </button>
    </li>
    <li class="nav-item" v-if="!isNew">
      <button
        class="nav-link"
        :class="{active: tab === 'advanced'}"
        @click="tab = 'advanced'"
      >
        Advanced
      </button>
    </li>
    <li class="nav-item flex-fill"></li>
    <li v-if="!isNew && !isDeleted" class="nav-item">
      <a class="nav-link" :href="`/data-viewer/source/${this.id}/import`"
        >Import Data</a
      >
    </li>
    <li v-if="!isNew" class="nav-item">
      <a class="nav-link" :href="`/data-viewer/source/${this.id}`"
        >Go To Source</a
      >
    </li>
    <li class="nav-item">
      <button class="btn btn-primary ms-2 text-nowrap" @click="save" :disabled="saving || isDeleted">
        Save
      </button>
    </li>
  </ul>

  <div v-if="isDeleted" class="alert alert-warning" role="alert">Deleted Source</div>
  <div v-if="error" class="alert alert-danger" role="alert">${error}</div>

  <section v-if="tab === 'edit'">
    <div class="d-flex mt-2">
      <input
        type="text"
        :disabled="!isNew || isDeleted"
        v-model.trim="system"
        class="form-control"
        placeholder="Source system..."
      />
      <input
        type="text"
        :disabled="!isNew || isDeleted"
        v-model.trim="namespace"
        class="form-control ms-1"
        placeholder="Source namespace..."
      />
    </div>

    <div class="d-flex mt-2">
      <input
        type="text"
        :disabled="isDeleted"
        v-model.trim="name"
        class="form-control"
        placeholder="Source name..."
        required
      />
    </div>

    <div class="d-flex mt-2">
      <textarea
        v-model.trim="note"
        :disabled="isDeleted"
        class="form-control"
        placeholder="Source note..."
      ></textarea>
    </div>


    <div class="row sticky-top bg-white py-2">
      <div class="col d-flex align-items-center justify-content-between">
        <span>Field</span>
        <input
          type="text"
          v-model="fieldSearch"
          placeholder="Filter Field Name..."
          @keyup.esc.stop="fieldSearch = ''"
        />
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <template v-if="!isNew">
          <span>Sample Data</span>
          <button v-if="hasMoreSamples" class="btn btn-link btn-sm" @click="nextSample">
            Shuffle
          </button>
        </template>
      </div>
    </div>
    <div class="fields">
      <div v-for="(field, index) in visibleFields" :key="field.id" class="row align-items-center">
        <div class="col d-flex">
          <div class="input-group mb-1">
            <div class="form-floating flex-fill">
              <input
                type="text"
                class="form-control"
                :id="`field-${field.id}`"
                :placeholder="field.id"
                @input="updateFieldName(field.id, $event)"
                :value="field.name"
                :disabled="isDeleted"
              />
              <label :for="`field-${field.id}`" class="text-secondary">${field.id}</label>
            </div>
            <button
              class="btn btn-outline-secondary btn-sm"
              @click="moveField(index, 1)"
              :disabled="index === fields.length - 1 || filteringFields || isDeleted"
              title="Move field down"
            >
              <i class="bi bi-arrow-down-short"></i>
            </button>
            <button
              @click="moveField(index, -1)"
              class="btn btn-outline-secondary btn-sm"
              :disabled="index === 0 || filteringFields || isDeleted"
              title="Move field up"
            >
              <i class="bi bi-arrow-up-short"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <input type="text" disabled :value="sample[field.id]" class="form-control sample" />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <input
            type="text"
            :disabled="isDeleted"
            class="form-control mb-1"
            placeholder="Add field..."
            @keyup.enter="addField"
          />
        </div>
      </div>
    </div>
  </section>

  <section v-if="tab === 'permissions'" class="mt-2">
    <div
      v-if="loadingPermissions"
      class="d-flex align-items-center justify-content-center loading-placeholder"
    >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    {% include "_permissions.njk" %}
  </section>

  <section v-if="tab === 'advanced'" class="mt-2">
    <form
      v-if="isDeleted"
      :action="`/api/source/${id}/restore`"
      method="post"
      class="mt-4"
    >
      <h5>Restore the source?</h5>
      <button class="btn-primary btn">Restore</button>
    </form>

    <form
      v-else
      @submit="onDeleteForm"
      :action="`/api/source/${id}/delete`"
      method="post"
      class="mt-4"
    >
      <h5>Delete the source?</h5>
      <p>
        NOTE: All user permissions for this source will be deleted.
        Restoring the source, will not bring these permissions back.
      </p>
      <button class="btn-danger btn">Delete</button>
    </form>
  </section>
</div>

<script>
  window._source = {{ source | dump | safe }};
  {% if samples %}
  window._samples = {{ samples | dump | safe }};
  {% endif %}
</script>
<script type="module" src="/assets/source-edit.js"></script>
{% endblock %}

