{% extends "layout.njk" %}

{% block styles %}
<style>
  .mw-0 {
    max-width: 0;
  }
  .col-arrow {
    flex: 0 0 2rem;
  }
  .w-override {
    width: 100px;
    white-space: nowrap;
  }
</style>
{% endblock %}

{% block content %}
<div id="app" v-cloak class="my-2 container-fluid">
  <div v-if="isDuplicate" class="row">
    <div class="col">
      <p>1. Select number of copies:</p>
      <div class="form-floating">
        <input
          v-model="duplicateCount"
          type="number"
          class="form-control"
          id="duplicateCount"
          min="1"
        />
        <label for="duplicateCount">Number of copies</label>
      </div>
    </div>
  </div>
  <div v-else class="row">
    <div class="col">
      <p>1. Select source to copy to:</p>
      <div v-if="!destinationId" class="form-floating">
        <input
          ref="destination"
          id="destination"
          class="form-control"
          type="text"
          aria-label="Destination"
          v-model="destinationQuery"
          list="destinations"
        />
        <label for="destination">Destination</label>
      </div>
      <div v-else class="input-group">
        <div class="form-floating">
          <input
            id="destination"
            class="form-control"
            type="text"
            aria-label="Destination"
            v-model="destinationName"
            disabled
          />
          <label for="destination">Destination</label>
        </div>
        <button
          class="btn btn-primary"
          type="button"
          @click="clearDestination"
          :disabled="created"
          title="Change the destination"
        >
          <i class="bi bi-x-circle"></i>
        </button>
      </div>

      <datalist id="destinations">
        {% for s in sources %}
          {% if s._id.toString() !== origin._id.toString() %}
            <option value="{{ s._id }}">
              {{ s.name }}
            </option>
          {% endif %}
        {% endfor %}
      </datalist>
    </div>
  </div>

  <div v-if="error" class="row">
    <div class="col">
      <div class="alert alert-danger mt-2" role="alert">${error}</div>
    </div>
  </div>

  <div v-if="!created" class="row mt-4">
    <div class="col">
      <p v-if="isDuplicate">2. Confirm duplciate data:</p>
      <p v-else>2. Map fields into target destination:</p>
    </div>
  </div>

  <div v-if="!created" class="row">
    <div class="col">
      <div v-if="submissions.length > 1" class="d-flex align-items-center mb-2">
        <span>Submissions</span>
        <nav class="ms-2 d-flex align-items-center">
          <ul class="pagination pagination-sm m-0">
            <li
              v-if="visibleSubmissionIndexes.length < submissions.length"
              class="page-item"
              :class="{disabled: submissionIndex === 0}"
              @click="submissionIndex = 0"
            >
              <button
                class="page-link"
                :disabled="submissionIndex === 1"
              >
                First
              </button>
            </li>
            <li
              v-for="index in visibleSubmissionIndexes" :key="index"
              class="page-item" :class="{active: submissionIndex === index - 1}"
            >
              <button
                class="page-link" @click="submissionIndex = index -1">${index}</button>
            </li>
            <li
              v-if="visibleSubmissionIndexes.length < submissions.length"
              class="page-item"
              :class="{disabled: submissionIndex === submissions.length - 1}"
            >
              <button
                class="page-link"
                :disabled="submissionIndex === submissions.length - 1"
                @click="submissionIndex = submissions.length - 1"
              >
                Last
              </button>
            </li>
          </ul>
        </nav>
      </div>

      <div class="input-group mb-1">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-search"></i>
        </span>
        <input
          class="form-control"
          type="text"
          v-model="fieldSearch"
          placeholder="Source fields"
          @keyup.esc.stop="fieldSearch = ''"
        />
      </div>

      {% for f in origin.fields %}
      <div
        class="row"
        :class="{'d-none': hideField('{{ f.id }}', '{{ f.name }}')}"
      >
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="source-field-{{ f.id | replace(' ', '_') }}"
              :value="submission['{{ f.id }}'] || ''"
              disabled
            />
            <label for="source-field-{{ f.id | replace(' ', '_') }}">{{ f.name or f.id }}</label>
          </div>
        </div>
        <div class="col-arrow d-flex align-items-center justify-content-center p-0">
          <i class="bi bi-arrow-right"></i>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="dest-field-{{ f.id | replace(' ', '_') }}"
              :class="{'is-invalid': invalidFields['{{ f.id }}'] }"
              list="available-destination-fields"
              v-model.trim="mapping['{{ f.id }}']"
              :disabled="!destinationId || isDuplicate"
            />
            <label for="dest-field-{{ f.id | replace(' ', '_') }}">
              ${ destinationFieldName(mapping['{{ f.id }}']) }
            </label>
          </div>
        </div>
      </div>
    {% endfor %}

    {% if userCanLink %}
    <div v-if="!created && !isDuplicate" class="row mt-4">
      <div class="col">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="enable-link-back"
            v-model="enableLinkBack"
          />
          <label class="form-check-label" for="enable-link-back">
            Link new record(s) back to <b>{{ origin.name }}</b>:
          </label>
        </div>
      </div>
    </div>
    <div v-if="!created && !isDuplicate" class="row">
      <div class="col">
        <div class="form-floating">
          <input
            id="linkInSource"
            type="text"
            class="form-control"
            :class="{'is-invalid': enableLinkBack && invalidLinkInSource }"
            list="source-fields"
            v-model.trim="linkInSource"
            :disabled="!enableLinkBack || !destinationId"
          />

          <label for="linkInSource">Source field</label>
        </div>
      </div>
      <div class="col-arrow d-flex align-items-center justify-content-center p-0">
        <i class="bi bi-arrow-left"></i>
      </div>

      <div class="col">
        <div class="form-floating">
          <input
            id="linkInDestination"
            type="text"
            class="form-control"
            :class="{'is-invalid': enableLinkBack && invalidLinkInDestination }"
            list="destination-fields"
            v-model.trim="linkInDestination"
            :disabled="!enableLinkBack || !destinationId"
          />
          <label for="linkInDestination">Destination field</label>
        </div>
      </div>
    </div>
    {% endif %}

    <div v-if="error" class="my-2">
      <div class="alert alert-danger my-0" role="alert">${error}</div>
    </div>

    <div class="mb-4 mt-4">
      <button
        class="save btn btn-primary"
        :disabled="!canSave || saving || loading"
        @click="save"
      >
        ${isDuplicate ? 'Duplicate' : 'Copy'}
      </button>
      <div
        v-if="saving"
        class="spinner-border spinner-border-sm ms-1"
        role="status"
      >
        <span class="visually-hidden">Saving...</span>
      </div>
    </div>
  </div>

    <div class="col-5" :class="{invisible: !destinationId}">
      <div class="mt-2 mb-1">
        <strong v-if="isDuplicate">
          Field Overrides
        </strong>
        <strong v-else>
          Sample Destination Data
          <button
            v-if="destinationSamples.length > 1"
            class="btn btn-link btn-sm"
            @click="nextDestinationSample"
          >
            Shuffle
          </button>
        </strong>
      </div>
      <table class="table w-100 table-light">
        <thead>
          <tr>
            <th class="w-50">Field</th>
            <th>Data</th>
            <th class="w-override">
              Override
              <a
                tabindex="0"
                class="btn btn-link btn-sm py-0"
                role="button"
                data-bs-toggle="popover"
                data-bs-trigger="focus"
                data-bs-content="
                  Override the copied value with a fixed value for all copied submissions.
                  <br><br>
                  *Not available for sequence (auto-incrementing) fields.
                  "
                data-bs-html="true"
                >?</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="f of destinationFields" :key="f">
            <td class="mw-0" :class="{'bg-warning': mappedDestinationFields[f.id] }">
              <div class="text-truncate" :title="f.name || f.id">
                ${ f.name || f.id }
              </div>
            </td>
            <td class="mw-0">
              <input
                v-if="destinationOverrideFields[f.id]"
                v-model.trim="destinationOverrideValues[f.id]"
                class="form-control form-control-sm"
                :disabled="!destinationOverrideFields[f.id]"
                :ref="'override-' + f.id"
                type="text"
              />
              <div v-else class="text-truncate" :title="destinationSample[f] || ''">
                ${ destinationSample[f.id] || '' }
              </div>
            </td>
            <td>
              <input
                v-if="f?.meta?.type !== 'sequence'"
                @change="onOverride(f.id, $event)"
                type="checkbox"
                class="form-check-input"
                :data-id="f.id"
                :id="'destinationOverride-' + f.id"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div v-if="created" class="row mt-4">
    <div class="col">
      <strong>Created submissions:</strong>
      <ol>
        <li v-for="s of created" :key="s._id">
          <a
            :href="`/data-viewer/source/${destinationId}?_id=${s._id}`"
            target="_blank"
          >
            ${s._id}
          </a>
        </li>
      </ol>

      <div>
        <button class="btn btn-secondary" @click="done">Close</button>
      </div>
    </div>
  </div>

  <datalist id="destination-fields">
    <option
      v-for="f in destinationFields"
      :value="f.id"
      :key="f.id"
    >
      ${f.name}
      <template v-if="f.meta && f.meta.type === 'sequence'">(auto increment)</template
    </option>
  </datalist>

  <datalist id="available-destination-fields">
    <option
      v-for="f in availableDestinationFields"
      :value="f.id"
      :key="f.id"
    >
      ${f.name}
      <template v-if="f.meta && f.meta.type === 'sequence'">(auto increment)</template
    </option>
  </datalist>

  <datalist id="source-fields">
    {% for f in origin.fields %}
    <option value="{{ f.id }}" {% if f.meta and f.meta.type === 'sequence' %} disabled {% endif %}>
      {{ f.name }}
      {% if f.meta and f.meta.type === 'sequence' %} (auto increment) {% endif %}
    </option>
    {% endfor %}
  </datalist>
</div>

<script>
  window._origin = {{ origin | dump | safe }};
  window._sources = {{ sources | dump | safe }};
  window._submissions = {{ submissions | dump | safe }};
  window._destination = {{ destination | dump | safe }};
</script>
<script type="module" src="{{ '/assets/source-copy-to.js' | appendVersion }}"></script>
{% endblock %}