{% extends "layout.njk" %}

{% block styles %}
<link href="{{ '/assets/data-viewer.css' | appendVersion }}" rel="stylesheet">

{% if hiddenFields | length > 0 %}
<style id="field-visibility-styles">
  {% for f in hiddenFields %}
    #data > table [data-field="{{ f }}"] {
      display: none;
    }
  {% endfor %}
</style>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  window._prefs = {{ prefs | dump | safe }};
</script>
<script src="{{'/assets/data-viewer.js' | appendVersion }}"></script>
{% endblock %}

{% if pageTitle %}
  {% block pageTitle %}
  <span class="badge bg-primary">
    {{ pageTitle }}
    {% if editLink %}
    <a
      href="{{ editLink }}"
      title="Edit source"
      class="text-white ms-1"
      ><i class="bi bi-pencil-square"></i></a>
    {% endif %}
  </span>
  {% endblock %}
{% endif %}

{% block content %}

{% if source and source.note %}
<div class="px-2 mt-2">
  <div class="alert alert-secondary mb-0" role="alert">{{ source.note | urlize | nl2br | safe }}</div>
</div>
{% endif %}

{% if view and view.note %}
<div class="px-2 mt-2">
  <div class="alert alert-secondary mb-0" role="alert">{{ view.note | urlize | nl2br | safe }}</div>
</div>
{% endif %}

<header class="sticky-top bg-white w-100">
  <section class="p-2">
    <div class="d-flex align-items-center justify-content-between ">
      <div class="flex-fill">
        <div class="d-flex align-items-center">
          <div class="flex-fill d-flex">
            <div class="dropdown me-2">
              <button class="btn btn-secondary btn-sm dropdown-toggle"
                  type="button"
                  id="field-toggles"
                  data-bs-toggle="dropdown"
                  data-bs-auto-close="outside"
                  aria-expanded="false">
                <span class="visible-count">{{ (fields | length) - (hiddenFields | length)}}</span>
                of
                <span class="all-count">{{ fields | length }}</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="field-toggles">
                <li class="px-2">
                  <input
                    id="field-toggles-search"
                    type="text"
                    class="form-control"
                    placeholder="Filter Field Name..."
                   />
                </li>
                <li>
                  <div class="dropdown-item d-flex align-items-center">
                    <span class="me-2">
                      Select
                    </span>
                    <button type="button" class="btn btn-link btn-sm link-light select-all">All</button>
                    /
                    <button type="button" class="btn btn-link btn-sm link-light select-none">None</button>
                  </div>
                </li>
                {% for f in fields %}
                  <li class="toggle" data-id="{{ f.id }}" data-name="{{ f.name }}">
                    <div class="dropdown-item">
                      <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{ f.id }}"
                            id="field-toggle-{{ f.id }}"
                            {% if hiddenFieldsAsObj[f.id] !== true %} checked {% endif %}>
                        <label class="form-check-label d-block" for="field-toggle-{{ f.id }}">
                          {{ f.name }}
                        </label>
                      </div>
                    </div>
                  <li>
                {% endfor %}
              </ul>
            </div>

            <span class="dropdown filters">
              <button class="btn btn-secondary dropdown-toggle btn-sm"
                  type="button"
                  id="filter-column-dropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                Filter
              </button>
              <ul class="dropdown-menu filters dropdown-menu-dark" aria-labelledby="filter-column-dropdown">
                <li class="px-2">
                  <input
                    id="filter-search"
                    type="text"
                    class="form-control"
                    placeholder="Filter Field Name..."
                   />
                </li>
                {% for f in fields %}
                  <li class="add-filter" data-id="{{ f.id }}" data-name="{{ f.name }}">
                    <span class="dropdown-item btn">{{ f.name }}</span>
                  <li>
                {% endfor %}
              </ul>
            </span>

            <a tabindex="0" class="btn btn-link btn-sm"
                role="button"
                data-bs-toggle="popover"
                data-bs-trigger="focus"
                data-bs-custom-class="filter-instruction-popover"
                data-bs-content="
                  Query: <strong>*</strong> to find any value.<br>
                  Query: <strong>null</strong> to find empty value.<br>
                  Query: <strong>! [expression]</strong> to negate the query.<br>

                  <br>
                  <h6>Regular Expression (PCRE)</h6>
                  Query: <strong>/[regex]/i</strong><br>

                  <br>
                  <h6>Numerical Comparison</h6>
                  Query: <strong>&gt; 20.5</strong><br>
                  Query: <strong>&gt; 20.5 && &lt;= 30</strong><br>

                  <br>
                  <h6>Date Comparison</h6>
                  Query: <strong>&gt; 1984-05-04</strong><br>
                  Query: <strong>&gt; 1984-05-04 && &lt;= 1984-06-04</strong>
                "
                data-bs-html="true">?</a>
          </div>
        </div>
      </div>

      <div id="top-pagination" class="d-none d-md-block"></div>

      {% if userCanEdit %}
        {% if theImport %}
        <div class="ms-1">
          <button id="btn-delete-import" class="btn btn-danger btn-sm">Delete</button>
          <button id="btn-import-records" class="btn btn-primary btn-sm">Import Records</button>
        </div>
        {% endif %}

        {% if userCanCreate %}
        <div class="ms-1">
          <button type="button" class="btn btn-secondary btn-sm"
              data-bs-toggle="modal" data-bs-target="#new-submission-modal">
            <span class="d-inline-block d-lg-none">New</span>
            <span class="d-none d-lg-inline-block">New Submission</span>
          </button>
        </div>
        {% endif %}

        <div id="undo" class="ms-1">
          <button class="btn btn-secondary btn-sm" disabled>Undo</button>
        </div>
      {% endif %}
    </div>

    <div id="active-filters"></div>
  </section>

  <div id="page-error" class="mx-2 alert alert-danger
      {% if not error %} d-none {% endif %}" role="alert">
    ${error}
  </div>
</header>

<section id="data" data-type="{{ dataType }}" data-id="{{ dataId }}">
  <div id="data-loader" class="d-flex align-items-center justify-content-center position-fixed top-50 start-50 translate-middle">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  {% include "_table.njk" %}
</section>

{% if userCanCreate %}
<div
  class="modal fade"
  id="new-submission-modal"
  tabindex="-1"
  aria-labelledby="new-submission-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-submission-modal-title">New Submission</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% for field in fields %}
          {% if field.editable %}
          <div class="row align-items-center py-1">
            <div class="col">
              <div class="form-floating flex-fill field">
                <input
                  id="new-submission-field-{{ field.id }}"
                  type="text"
                  class="form-control"
                  :placeholder="field.id"
                  disabled
                  value="{{ field.name if field.name !== field.id }}"
                />
                <label
                  for="new-submission-field-{{ field.id }}"
                  class="text-secondary"
                  >{{ field.id }}</label>
              </div>

            </div>
            <div class="col">
              <input
                type="text"
                name="{{ field.id }}"
                class="form-control field-value"
              />
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer justify-content-end">
        <div class="spinner-border text-primary spinner-border-sm d-none" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <button class="save btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
