{% extends "layout.njk" %}

{% block styles %}
<link href="{{ '/assets/data-viewer.css' | appendVersion }}" rel="stylesheet" />

{% if hiddenFields | length > 0 %}
<style id="field-visibility-styles">
  {% for f in hiddenFields %}
    #data > table [data-field="{{ f }}"] {
      display: none;
    }
    #data > table [data-field^="{{ f }}["] {
      display: none;
    }
  {% endfor %}
</style>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  window._prefs = {{ prefs | dump | safe }};
  window._fields = {{ fields | dump | safe }};
  window._ORIGIN_TYPE = "{{ dataType }}";
  window._ORIGIN_ID = "{{ dataId }}";
  window._ORIGIN_NAME = "{{ originName }}";
  window._IS_IFRAME_FIELD = "{{ isIFRAME }}";
  window._LANGUAGE = "{{ language }}";
</script>
<script src="{{'/assets/data-viewer2.js' | appendVersion }}"></script>
<script src="{{'/assets/data-viewer.js' | appendVersion }}"></script>
{% endblock %}

{% if pageTitle %}
{% block pageTitle %}
<span class="badge bg-primary">
  <a href="{{ link }}" class="link-light link-opacity-100 text-decoration-none">{{ pageTitle }}</a>
  {% if editLink %}
  <a href="{{ editLink }}" title="Edit source" class="text-white ms-1">
    <i class="bi bi-pencil-square"></i>
  </a>
  {% endif %}
</span>
{% endblock %}
{% endif %}

{% block content %}
{% if isDeleted %}
<div class="px-2 mt-2">
  <div class="alert alert-warning mb-0" role="alert">
    Archived {{ "view" if view else "source"}}. The data is read-only.
  </div>
</div>
{% endif %}

{% set note = null %}
{% if source and source.note %}
  {% set note = source | altLang('note', language) %}
{% elif view and view.note %}
  {% set note = view | altLang('note', language) %}
{% endif %}

{% if note %}
<div ref="note" class="px-2 mt-2 position-relative note">
  <div
    class="alert alert-secondary mb-0 p-2"
    role="alert"
    :class="{'truncate': !isNoteExpanded}"
  >
    {{ note | urlize | nl2br | safe }}
  </div>

  <button
    v-cloak
    v-if="showNoteToggle"
    @click="toggleNote"
    type="button"
    class="btn btn-primary btn-sm position-absolute"
    title="Expand or collapse the note"
  >
    <i v-if="isNoteExpanded" class="bi bi-arrows-angle-contract"></i>
    <i v-else class="bi bi-arrows-angle-expand"></i>
  </button>
</div>
{% endif %}
{% if theImport %}
<div class="px-2 mt-2">
  <div
    class="alert alert-warning mb-0 d-flex align-items-center justify-content-between"
    role="alert"
  >
    <div>
      {% if theImport.isBulkEdit %}
      <strong>Bulk Edit Matching Records</strong>
      <span> - Finalize your data before importing.</span>
      {% else %}
      <strong>Staged Import Data</strong>
      <span> - Finalize your data before importing your submissions.</span>
      {% endif %}
    </div>

    {% if userCanEdit %}
    <div class="d-flex align-items-center">
      <div
          v-cloak
          v-if="isCommitingImport"
          class="spinner-border text-primary spinner-border-sm me-2"
          role="status"
        >
          <span class="visually-hidden">Saving...</span>
      </div>
      <button
        class="btn btn-outline-secondary btn-sm me-1"
        :disabled="isCommitingImport"
        @click="discardImport">
        Discard Import
      </button>
      <button
        @click="commitImport"
        :disabled="isCommitingImport"
        class="btn btn-primary btn-sm"
      >
        {% if theImport.isBulkEdit %}Bulk Update{% else %}Import{% endif %} Records
      </button>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

<header class="sticky-top border-tertiary w-100 p-2" ref="header">
  <section class="d-flex">
    <div class="border rounded bg-body-tertiary p-2 flex-fill d-flex">
      <div>
        <div>
          <span class="dropdown filters">
            <button
              class="btn btn-secondary dropdown-toggle btn-sm"
              type="button"
              id="filter-column-dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Filter
            </button>
            <ul
              class="dropdown-menu filters dropdown-menu-dark"
              aria-labelledby="filter-column-dropdown"
            >
              {% if allowDeletedQuery %}
              <li class="px-2">
                <div class="form-check form-switch">
                  <input
                    v-model="showDeleted"
                    class="form-check-input me-1 deleted-toggle"
                    type="checkbox"
                    role="switch"
                    id="show-deleted"
                  />
                  <label class="form-check-label text-nowrap" for="show-deleted">
                    Show Archived Submissions
                  </label>
                </div>
              </li>
              <li><hr class="dropdown-divider" /></li>
              {% endif %}
              <li class="px-2">
                <input
                  v-model.trim="filterSearchInput"
                  ref="filter-search"
                  type="text"
                  class="form-control"
                  placeholder="Field name..."
                />
              </li>
              <li
                v-for="f in availableFilterFields"
                :key="f.id"
                class="add-filter"
                @click="addFilter(f.id, true)"
              >
                <span class="dropdown-item btn">${ f.name }</span>
              </li>
            </ul>
          </span>

          <a
            tabindex="0"
            class="btn btn-link btn-sm"
            role="button"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-custom-class="filter-instruction-popover"
            data-bs-content="
              Query: <strong>*</strong> to find any value.<br>
              Query: <strong>null</strong> to find empty value.<br>
              Query: <strong>! [expression]</strong> to negate the query.<br>

              <br>
              <h6>Exact Match</h6>
              Query: <strong>&#x22;value&#x22;</strong><br>

              <br>
              <h6>Regular Expression (PCRE)</h6>
              Query: <strong>/[regex]/i</strong><br>

              <br>
              <h6>Numerical Comparison</h6>
              Query: <strong>&gt; 20.5</strong><br>
              Query: <strong>&gt; 20.5 && &lt;= 30</strong><br>

              <br>
              <h6>Date Comparison</h6>
              Query: <strong>&gt; 1984-05-04</strong><br>
              Query: <strong>&gt; 1984-05-04 && &lt;= 1984-06-04</strong>
            "
            data-bs-html="true"
            >?</a
          >
        </div>

        {% if isDeletedQuery %}
        <div class="form-check form-switch d-flex align-items-center mt-1 me-2">
          <input
            class="form-check-input me-1 deleted-toggle my-0"
            v-model="showDeleted"
            type="checkbox"
            role="switch"
            id="show-restored"
          />
          <label class="form-check-label text-nowrap align-middle" for="show-restored">
            Archived
          </label>
        </div>
        {% endif %}
      </div>

      <div id="active-filters" v-cloak class="d-flex flex-wrap">
        <div
          v-for="(values, filter) in currentFilters"
          :key="filter"
          class="mb-2 me-2 input-group input-group-sm"
        >
          <span class="input-group-text">${ fieldName(filter) }</span>
          <button
            v-for="(value, valueIndex) in values"
            :key="valueIndex"
            type="button"
            class="btn btn-warning btn-sm"
            @click="removeFilter(filter, valueIndex)"
            title="Remove filter"
          >
            ${ value }
            <span class="ms-2">&times;</span>
          </button>
          <input
            type="text"
            @keyup.enter="addFilterValue(filter, $event.target.value)"
            @keydown.backspace="($event) => { if (!$event.target.value) { removeFilter(filter); }}"
            @paste="pasteFilterValue(filter, $event)"
            :placeholder="!values.length ? 'value' : 'or...'"
            class="filter-input form-control"
            :ref="'filterInput-' + filter"
          />
        </div>
      </div>
    </div>

    {% if not theImport and not isIFRAME %}
    <div class="ms-2">
      <div class="btn-group-vertical" role="group" aria-label="View mode">
        <input
          v-model="viewMode"
          type="radio"
          class="btn-check"
          name="data-mode"
          id="view-mode-list"
          autocomplete="off"
          value="list"
          checked
        />
        <label class="btn btn-outline-secondary btn-sm" for="view-mode-list">List</label>
        <input
          v-model="viewMode"
          type="radio"
          class="btn-check"
          name="data-mode"
          id="view-mode-analyze"
          value="analyze"
        />
        <label class="btn btn-outline-secondary btn-sm" for="view-mode-analyze">Analyze</label>
      </div>
    </div>
    {% endif %}
  </section>

  <div
    id="page-error"
    class="mx-2 alert alert-danger {% if not error %} d-none {% endif %}"
    role="alert"
  >
    {{ error }}
  </div>
</header>

<section v-show="isListMode">
  <div class="d-flex align-items-center justify-content-between p-2 pt-0">
    <div class="flex-fill">
      <div class="d-flex align-items-center">
        <div class="flex-fill d-flex">
          <div class="dropdown me-2">
            <button
              ref="fieldTogglesBtn"
              class="btn btn-secondary btn-sm dropdown-toggle"
              type="button"
              id="field-toggles"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
              <span class="visible-count">{{ (fields | length) - (hiddenFields | length)}}</span>
              of
              <span class="all-count">{{ fields | length }}</span>
            </button>
            <ul
              ref="fieldTogglesList"
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="field-toggles"
            >
              <li class="px-2">
                <input
                  ref="fieldTogglesSearch"
                  @keyup="onFieldTogglesSearch"
                  id="field-toggles-search"
                  type="text"
                  class="form-control"
                  placeholder="Field name..."
                />
              </li>
              <li>
                <div class="px-3 py-1 d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <span class="me-2"> Select </span>
                    <button
                      @click="onFieldTogglesAll"
                      type="button"
                      class="btn btn-link btn-sm link-light select-all"
                    >
                      All
                    </button>
                    /
                    <button
                      @click="onFieldTogglesNone"
                      type="button"
                      class="btn btn-link btn-sm link-light select-none"
                    >
                      None
                    </button>
                  </div>
                  <button
                    @click="resetFields"
                    type="button"
                    class="btn btn-link btn-sm link-light"
                  >
                    Reset
                  </button>
                </div>
              </li>
              {% for f in fields %}
              <li class="toggle" data-id="{{ f.id }}" data-name="{{ f.name }}">
                <div class="dropdown-item p-0">
                  <div class="form-check">
                    <label
                      class="form-check-label d-block py-0 px-3 d-flex justify-content-between"
                      for="field-toggle-{{ f.id }}"
                    >
                      <span>
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value="{{ f.id }}"
                          id="field-toggle-{{ f.id }}"
                          {% if hiddenFieldsAsObj[f.id] !== true %} checked {% endif %}
                        >
                        {{ f.name }}
                      </span>

                      {% if f.id === 'originId' %}
                      <a
                        tabindex="0"
                        class="btn btn-link btn-sm p-0 text-light"
                        role="button"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover"
                        data-bs-content="If the submission was copied from an another source/view,
                          this will be the ID of the original submission"
                      >?</a>
                      {% endif %}
                    </label>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div ref="top-pagination" class="d-none d-md-block"></div>

    {% if not isIFRAME %}
    <div class="dropdown ms-1">
      <button
        class="btn btn-secondary btn-sm dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Actions
      </button>
      <ul class="dropdown-menu">
        {% if showDuplicateBtn %}
        <li>
          <button
            id="duplicate-btn"
            type="button"
            class="dropdown-item"
            :disabled="checkedSubmissions.length === 0"
            @click="onCopyToBtn(true)"
          >
            <i class="bi bi-copy"></i>
            Duplicate
          </button>
        </li>
        {% endif %}

        {% if not theImport %}
        <li>
          <button
            id="copy-to-btn"
            type="button"
            class="dropdown-item"
            :disabled="checkedSubmissions.length === 0"
            @click="onCopyToBtn(false)"
          >
            <i class="bi bi-folder-symlink"></i>
            Copy To
          </button>
        </li>
        {% endif %}

        {% if showArchiveBtn %}
        <li>
          <button
            id="delete-btn"
            type="button"
            class="dropdown-item"
            :disabled="checkedSubmissions.length === 0"
            @click="onArchiveBtn(false)"
          >
            <i class="bi bi-trash3-fill"></i>
            {% if not theImport %}Archive{% else %}Delete{% endif %}
          </button>
        </li>
        {% endif %}
        {% if showRestoreBtn %}
        <li>
          <button
            id="delete-btn"
            type="button"
            class="dropdown-item"
            :disabled="checkedSubmissions.length === 0"
            @click="onArchiveBtn(true)"
          >
            <i class="bi bi-recycle"></i>
            Restore
          </button>
        </li>
        {% endif %}

        {% if userCanCreate %}
        <li><hr class="dropdown-divider"></li>
        <li>
          <button
            type="button"
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#new-submission-modal"
          >
            <i class="bi bi-file-earmark-plus-fill"></i>
            Create
          </button>
        </li>
        <li>
          <a
            class="dropdown-item"
            href="{{link}}/import"
          >
            <i class="bi bi-cloud-upload"></i>
            Import / Bulk Edit
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    {% if userCanEdit %}
    <div id="undo" class="ms-1">
      <button class="btn btn-secondary btn-sm" disabled>Undo</button>
    </div>
    {% endif %}
  </div>
  <div
    id="data"
    ref="data"
    @click="onDataElClick"
    data-type="{{ dataType }}"
    data-id="{{ dataId }}"
    data-name="{{ originName }}"
  >
    <div
      id="data-loader"
      class="d-flex align-items-center justify-content-center position-fixed top-50 start-50 translate-middle"
    >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    {% include "_table.njk" %}
  </div>
</section>

<section v-show="isAnalyzeMode" id="analyze" v-cloak>
  <div class="container-fluid p-2 pt-0">
    <div class="row gx-1 justify-content-between">
      <div class="col col-sm-8 col-lg-9">
        <div class="d-flex flex-wrap">
          <div class="input-group input-group-sm">
            <button
              class="btn btn-secondary btn-sm dropdown-toggle"
              type="button"
              id="ana-field-toggles"
              ref="ana-field-toggles"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
              @click="anaSelectSearchFields"
            >
              Group By
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="ana-field-toggles">
              <li class="px-2 mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Field name..."
                  v-model.trim="anaFieldSearch"
                  ref="anaFieldSearch"
                />
              </li>
              <li v-for="f of anaVisibleSourceFields" :key="f.id">
                <div class="dropdown-item p-0">
                  <div class="form-check">
                    <label class="form-check-label d-block py-0 px-3" :for="'ana-key-toggle-' + f.id">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        :value="f.id"
                        :id="'ana-key-toggle-' + f.id"
                        v-model="anaKeys"
                      />
                      ${ fieldName(f.id) }
                    </label>
                  </div>
                </div>
              </li>
            </ul>

            <button
              v-for="key in anaKeys"
              :key="key"
              type="button"
              class="btn btn-outline-secondary btn-sm"
              @click="anaRemoveKey(key)"
            >
              ${ fieldName(key) }
              <span class="ms-2">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col col-sm-2 col-lg-3">
        <div class="input-group input-group-sm">
          <select
            class="form-select form-select-sm"
            aria-label="Operation"
            v-model="anaOperationCommand"
          >
            <option value="count">Count</option>
            <hr />
            <option value="avg">Average</option>
            <option value="max">Maximum</option>
            <option value="min">Minimum</option>
            <option value="sum">Sum</option>
            <option value="stdDev">Standard Deviation</option>
          </select>

          <input
            class="form-control"
            type="text"
            list="ana-operation-fields"
            v-model="anaOperationField"
            placeholder="Operation field"
            :disabled="anaDisabledOperationField"
            :class="{'is-invalid': anaInvalidOperationField }"
          />
        </div>
        <datalist id="ana-operation-fields">
          <option v-for="f in fields" :value="f.id">${ fieldName(f.id) }</option>
        </datalist>
      </div>
    </div>
  </div>
  <div v-if="validAnaParams">
    <div v-if="anaError" class="mx-2 alert alert-danger" role="alert">${ anaError }</div>
    <div v-else id="analyze-results" ref="analyze-results" @click="analyzeTableClick"></div>
  </div>
  <div
    v-else
    class="data-placeholder m-2 mt-0 border bg-body-tertiary rounded d-flex justify-content-center align-items-center"
  >
    <p class="fs-4 m-0">
      <button @click="triggerAnaKeysDropdown" class="btn btn-link fs-4 p-0 me-1">Select</button>
      <span class="align-middle"
        >one or more fields to group by and choose a valid data operation.</span
      >
    </p>
  </div>
</section>

{% if userCanCreate %}
<div
  class="modal fade"
  id="new-submission-modal"
  tabindex="-1"
  aria-labelledby="new-submission-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="new-submission-modal-title"
        >
          Create Submission
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          :disabled="isSavingNewSubmission"
        ></button>
      </div>
      <div class="modal-body">
        {% for field in fields %}
        {% if field.editable %}
        <div class="row align-items-center py-1">
          <div class="col">
            <div class="form-floating flex-fill field overflow-hidden">
              <input
                id="new-submission-field-{{ field.id }}"
                type="text"
                class="form-control"
                placeholder="{{ field.id }}"
                disabled
                value="{{ field.name if field.name !== field.id }}"
              />
              <label
                for="new-submission-field-{{ field.id }}"
                class="text-secondary"
                title="{{ field.id }}"
              >
                {{ field.id }}
              </label>
            </div>
          </div>
          <div class="col">
            <input
              type="text"
              name="{{ field.id }}"
              class="form-control field-value"
              @keyup.enter="onNewSubmission"
              v-model="newSubmission['{{ field.id }}']"
              {{ 'disabled' if field.meta.type === 'sequence' }}
              {{ 'placeholder="[auto increment]"' | safe if field.meta.type === 'sequence' }}
            />
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="modal-footer justify-content-end">
        <div
          v-if="isSavingNewSubmission"
          class="spinner-border text-primary spinner-border-sm"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <button
          @click="onNewSubmission"
          class="btn btn-primary"
          :disabled="isSavingNewSubmission"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if not theImport %}
<div
  class="modal fade"
  id="copy-to-modal"
  ref="copyToModal"
  tabindex="-1"
  aria-labelledby="copy-to-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="copy-to-modal-title">
          ${ copyToModalTitle }
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
{% endif %}

<div class="modal fade" id="edit-modal"
    tabindex="-1" aria-labelledby="edit-modal-title" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-modal-title">
          Edit Submission
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <select class="form-select">
            <option value="text" selected>Text</option>
            <option value="int">Int (10)</option>
            <option value="float">Float (1.10)</option>
            <option
              value="attachment"
              {{'disabled' if dataType === 'import' }}
            >
              Attachment
            </option>
            <option value="lookup" disabled>Lookup</option>
            <option value="sequence" disabled>Sequence</option>
          </select>
          <input id="edit-input" type="text" class="form-control w-75"
              aria-label="Input for new value" />
          <input id="attachment-input" type="file" class="form-control w-75"
              aria-label="Upload for new attachment" />
          <button class="clear btn btn-outline-secondary" title="Clear value">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
        <div class="lookup-container"></div>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <div id="edit-count-warning" class="text-danger d-none" role="alert">
            NOTE: This is a bulk edit of <span></span> records.
            <br/>
            Undo operations may not work perfectly with bulk operations.
          </div>
        </div>
        <div>
          <div class="spinner-border text-primary spinner-border-sm d-none me-1" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <button class="save btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% if theImport %}
<div class="modal fade" id="rename-field-modal"
    tabindex="-1" aria-labelledby="rename-field-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rename-field-modal-title">Rename Field:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input id="rename-field-existing-id" type="hidden" />
          <input id="rename-field-input" type="text" class="form-control w-75"
              aria-label="Input for field name" />
        </div>
      </div>
      <div class="modal-footer justify-content-end">
        <div class="spinner-border text-primary spinner-border-sm d-none" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <button class="save btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div
  class="modal fade"
  id="lookup-ref-modal"
  tabindex="-1"
  aria-labelledby="lookup-ref-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div id="lookup-view-modal-title" class="modal-header">
        <h5 class="modal-title"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="lookup-container"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
